.slide{
    margin: 0 auto;
    width: 50%;

}

img {
    width: 100%;
 margin-top: 50px ;
}

button{
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto;
}
button:hover{
    background-color: bisque;
    color: black;
}
*{
    background-color: blanchedalmond
}